# =========================
# Unity generated folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# =========================
# IDE / Editor files
# =========================
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Unity packages & exports
# =========================
*.unitypackage

# =========================
# Crash / profiler output
# =========================
*.stackdump
